.maincontent {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1%;
}

@media (min-width: 811px) {
    .maincontent {
        width: 40%;
    }
}

body {
    background-color: #9fcbdf;
    /* background-color: #C21E56; */
    font-family: sans-serif;
    color: black
}

.headercontent {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}

.footercontent {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}

a:link {
    color: #48434f;
}

a:visited {
    color: #48434f;
}

a:hover {
    color: #ed6e87;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
    padding: 0.25%;
}

.content {
  display: none;
  overflow: hidden;
}